

<div id="indicators-carousel" class="relative w-full" data-carousel="static">
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96 z-0">
        <div class="block duration-700 ease-in-out" data-carousel-item>
            <img src="/assets/images/banner2.jpg" class="absolute h-full w-full object-cover top-0 left-0" alt="image">
        </div>
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="/assets/images/wide.jpg" class="absolute h-full w-full object-cover top-0 left-0" alt="image">
        </div>
    </div>

    <div class="absolute z-30 flex flex-col space-y-3 top-1/2 left-0 -translate-y-1/2">
        <button type="button" class="w-4 h-4 bg-white rounded-full border-2 border-gray-300" aria-current="false" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        <button type="button" class="w-4 h-4 bg-white rounded-full border-2 border-gray-300" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
    </div>
</div>


